#navbar {
  background-color: #6c757d;
}
.container-fluid {
  padding: 1% 3%;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
/*Admin-Menu*/
#admin-menu {
  font-family: "Montserrat", sans-serif;
}
.split {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 0% 3%;
}
.split-right {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background: rgb(224, 224, 224);
  font-family: "Montserrat", sans-serif;
  top: 85px;
  padding: 0% 3%;
  padding-left: 20px;
}
.left {
  left: 0;
  background-color: #1d292c;
  top: 85px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
/**/
.fa-ul {
  margin-left: 10px;
}
/**/

.p-l-55 {
  padding-left: 55px;
}
.p-r-55 {
  padding-right: 55px;
}
.p-t-65 {
  padding-top: 30px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.login {
  margin-top: 20px;
  width: 500px;
  background: rgb(224, 224, 224);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 300px;
  margin-bottom: 100px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.login-form-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
.login-form {
  width: 100%;
}
.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form-btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form-btn:hover {
  background-color: #333333;
}
.male-input {
  font-size: 16px;
  margin-left: 100px;
}
.female-input {
  font-size: 16px;
  margin-left: 20px;
}
