/*Navigation br*/
#navbar {
  background-color: #6c757d;
}
.container-fluid {
  padding: 1% 10%;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
#notice-body {
  padding: 0% 10%;
}
.login {
  margin-top: 20px;
  width: 100%;
  background: rgb(224, 224, 224);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.p-l-55 {
  padding-left: 55px;
}
.p-r-55 {
  padding-right: 55px;
}
.p-t-65 {
  padding-top: 20px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.login-form-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
.login-form {
  width: 100%;
}
.search-table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
